@media(max-width: 600px){
    .position{
        &_center{
            margin-left: 16px;
            margin-right: 16px;
            padding-left: calc(50% - 172px - 16px);
            padding-right: calc(50% - 172px - 16px);    
        }
    }

    .text{
        &_size{
            &_m{            
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
            } 
            &_mb{
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
            }  
            &_mbb{
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
            }      
            &_xl{
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
            }
            &_xxl{
                font-weight: 700;
                font-size: 28px;
                line-height: 37px;
            }
            &_xxxl{
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
            }
        }
    }

    .header{
        height: 735px;
        text-align: center;
        &__sub-title{            
            max-width: 100%;
        }
    }

    .game-item{
        width: 343px;
        padding: 32px 16px;
    }

    .section-game{
        min-height: 655px;
        align-items: center;        
        &__info{            
            align-items: center;
            text-align: center;
        }
        &__sub-title{
            padding-left: 12px;
            padding-right: 12px;
        }
        &__img{
            width: 344px;
        }
    }
}