*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;    
    background-color: #000915;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

button{
    color: inherit;    
    font-family: inherit;
}

.position{
    &_center{
        margin-left: 120px;
        margin-right: 120px;
        padding-left: calc(50% - 610px - 120px);
        padding-right: calc(50% - 610px - 120px);    
    }
    &_pull_right{
        float: right;
    }
}

.text{
    &_size{
        &_s{            
            font-weight: 400;
            font-size: 12px;
            line-height: normal;
        } 
        &_m{            
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
        } 
        &_mb{
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
        }  
        &_mbb{
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
        }      
        &_xl{
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }
        &_xxl{
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
        }
        &_xxxl{
            font-weight: 700;
            font-size: 64px;
            line-height: 78px;
        }
    }
}

.button{
    background-color: #9C0332;
    border-radius: 30px;
    border: none;
    min-width: 234px;
    padding: 14px;
    display: inline-block;
    text-align: center;
    &:hover{
        background-color: #EB443F;
        cursor: pointer;
    }
}

.back_cover{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header{    
    height: 1024px;
    padding-top: 220px;
    background-image: url(../img/header.jpg);
    &__title{
        max-width: 700px;
    }
    &__sub-title{        
        max-width: 480px;
        margin-top: 32px;
    }
    &__button{
        margin-top: 44px;
    }    
}

.footer{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;    
}

.section-games{
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.game-item{
    width: 379px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    padding: 32px;
    &:hover{          
        box-shadow: 0 0 0 3px #44D2FF;
    }
}

.game-img{
    &_one{
        background-image: url(../img/game/game01.png)
    }
    &_two{
        background-image: url(../img/game/game02.png)
    }
    &_three{
        background-image: url(../img/game/game03.png)
    }
}

.section-game{
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    align-items: center; 
    padding-top: 50px;
    padding-bottom: 50px;
    &_odd{
        flex-wrap: wrap-reverse;
    }   
    &__info{
        max-width: 584px;
        display: inline-flex;
        gap: 32px;
        flex-direction: column;
        align-items: flex-start;
    }
    &__img{
        width: 485px;
    }
    &_bottom{        
        background:
            linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0.00) 100%), 
            linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.35%, #000915 100%),
            url('../img/bottom.jfif') center/cover;
        text-align: center;
    }
}

.width_max{
    max-width: 100%;
}

.align-items_center{
    align-items: center;
}


@import 'mobile';