* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000915;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-family: inherit;
}

.position_center {
  margin-left: 120px;
  margin-right: 120px;
  padding-left: calc(50% - 610px - 120px);
  padding-right: calc(50% - 610px - 120px);
}
.position_pull_right {
  float: right;
}

.text_size_m {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
.text_size_mb {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.text_size_mbb {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.text_size_xl {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.text_size_xxl {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}
.text_size_xxxl {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
}

.button {
  background-color: #9C0332;
  border-radius: 30px;
  border: none;
  min-width: 234px;
  padding: 14px;
  display: inline-block;
  text-align: center;
}
.button:hover {
  background-color: #EB443F;
  cursor: pointer;
}

.back_cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  height: 1024px;
  padding-top: 220px;
  background-image: url(../img/header.jpg);
}
.header__title {
  max-width: 700px;
}
.header__sub-title {
  max-width: 480px;
  margin-top: 32px;
}
.header__button {
  margin-top: 44px;
}

.section-games {
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.game-item {
  width: 379px;
  height: 300px;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  padding: 32px;
}
.game-item:hover {
  box-shadow: 0 0 0 3px #44D2FF;
}

.game-img_one {
  background-image: url(../img/game/game01.png);
}
.game-img_two {
  background-image: url(../img/game/game02.png);
}
.game-img_three {
  background-image: url(../img/game/game03.png);
}

.section-game {
  min-height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  -moz-column-gap: 135px;
       column-gap: 135px;
}
.section-game__info {
  display: inline-flex;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
}
.section-game__img {
  width: 485px;
}

@media (max-width: 600px) {
  .position_center {
    margin-left: 16px;
    margin-right: 16px;
    padding-left: calc(50% - 172px - 16px);
    padding-right: calc(50% - 172px - 16px);
  }
  .text_size_m {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
  }
  .text_size_mb {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .text_size_mbb {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
  }
  .text_size_xl {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .text_size_xxl {
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
  }
  .text_size_xxxl {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  .header {
    height: 735px;
    text-align: center;
  }
  .header__sub-title {
    max-width: 100%;
  }
  .game-item {
    width: 343px;
    padding: 32px 16px;
  }
  .section-game {
    min-height: 655px;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .section-game__info {
    align-items: center;
    text-align: center;
  }
  .section-game__sub-title {
    padding-left: 12px;
    padding-right: 12px;
  }
  .section-game__img {
    width: 344px;
  }
}/*# sourceMappingURL=style.css.map */